html {
    background: darkgreen;
    text-align: center;
}

.jumbotron-fluid {
    font-size: 2rem;
    font-family: "Press Start 2P";
    text-shadow: .1rem .1rem .1rem green;
}

.jumbotron {
    background: black;
    margin: auto;
    text-align: center;
}

footer {
    font-size: .4rem;
    background: black;
    text-shadow: 1rem 1rem 1rem black;
}