html {
    margin: 0;
    overflow: auto;
    text-shadow: .06rem .07rem .13rem lightskyblue;
}

#intro {
    text-shadow: .15rem .16rem .35rem whitesmoke;
}

#flow {
    font-size: 2.3rem;
    font-family: "Pacifico";
    text-shadow: .1rem .16rem .4rem lightsalmon;
    text-outline: white;
}

#first {
    font-family: "Press Start 2P";
    text-shadow: .2rem .2rem .2rem green;
}

#toy {
    font-family: "Shadows Into Light Two";
    font-size: 3rem;
    text-shadow: -.12rem .2rem .2rem crimson;
}

footer {
    text-align: center;
}

.connect {
    text-shadow: .06rem .07rem .17rem whitesmoke;
}

small {
    font-family: "Quicksand";
    font-weight: bolder;
    font-size: .8rem;
    text-shadow: .04rem .03rem .04rem white;
}