#flow {
    font-size: 2.3rem;
    font-family: "Pacifico";
}

#first {
    font-family: "Press Start 2P";
}

#toy {
    font-family: "Shadows Into Light Two";
    font-size: 3rem;
}

footer {
    text-align: center;
    text-shadow: .02rem .02rem .03rem purple;
}